/*!imporant flags added to override default styling from Milligram */

.container-row {
  padding-top: 1.0rem;
  border-bottom: 1px solid lightgray;
}

.development-data-container {
  margin-top: 30px;
  margin-left: 20px !important;
}

.green {
  background-color: #449d44;
  border: 0.1rem solid #449d44;
}

.green:hover, .green:focus {
  background-color: #449d44;
  border: 0.1rem solid #449d44;
}

.green, .green:hover, .green:focus, .red, .red:hover, .red:focus {
  min-width: 105px;
}

.hide {
  display: none;
}

.red {
  background-color: #c9302c;
  border: 0.1rem solid #c9302c;
}

.red:hover, .red:focus {
  background-color: #c9302c;
  border: 0.1rem solid #c9302c;
}

.show {
  display: block !important;
}

.start-stop-button {
  min-width: 130px;
}

.text-column {
  padding-top: 10px !important;
}
