.app-header {
  width: 20%;
  font-size: 28px;
  color: #606c76;
  font-family: 'Pacifico', cursive;
}

.header-container {
  width: 25%;
  margin: 0 auto;
}

.icon {
  width: 55px;
  margin-top: 18px;
}
