.notifications-container {
  border: 1px solid #ccc;
  background-color: #ccc;
  color: black;
  height: 55px;
  width: 250px;
  right: 5px;
  top: 5px;
  position: absolute;
  border-radius: 4px;
  font-size: 14px;

}

.notifications-container button {
  float: right;
  font-size: 12px;
  padding: 0;
  height: 10px;
  color: black;
  line-height: 0;
  margin: 5px 5px 0 0;
}
