.main-dashboard-container {
  display: flex;
  border: 1px solid lightgray;
}

.main-dashboard-container a {
  margin: 10px;
}

.left-bottom {
  height: 50%;
}

.left-column {
  width: 50%;
  border-right: 1px solid lightgray;
  display: flex;
  flex-direction: column;
}

.left-top {
  border-bottom: 1px solid lightgray;
  height: 50%;
}

.right-column {
  width: 50%;
  display: flex;
  flex-direction: column;
}

