body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

a {
  color: #1a65ab;
}

button:hover {
  opacity: 0.8;
}

.content-container {
  min-width: 80%;
  margin-left: 10px;
}

.container {
  max-width: 120rem;
  padding: 0;
}

code {
  background-color: transparent;
  font-size: 100%;
  margin: 0;
  padding: 0;
  font-family:'Inconsolata', monospace;
  white-space: normal;
}
