body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

a {
  color: #1a65ab;
}

button {
  min-width: 130px;
}

button:hover {
  opacity: 0.8;
}

.container {
  max-width: 120rem;
}


.row, .column {
  padding: 0;
}
